* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}

.minicircel {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    background-color: #fff;


}

.bounding {
    width: fit-content;
    overflow: hidden;


}

.bounding .boundingelem {
    transform: translateY(100%);
}

#main {
    width: 100%;
    height: auto;
    background-color: black;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    color: white;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    opacity: .6;
    margin-left: 30px;
    line-height: 1;

    font-size: 9vw;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 230px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;

}

.blocktext h5 {
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
}

.chotiheading {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;

}

.chotiheading h5 {
    text-align: right;
    margin-top: 1vw;
    font-size: 1vw;
    text-transform: uppercase;
}

.herofooter {
    position: absolute;
    bottom: 0;
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herofooter a {

    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.herofooter .iconset {
    display: flex;
    gap: 5px;
}

.herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
}


#second {
    color: #fff;
    padding-right: 10vw;
    padding-top: 170px;
    background-color: black;
    width: 100%;
    height: auto;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    padding: 4vw 3vw;
    padding-right: 0;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 8vw;
    opacity: .7;

}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
   opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}


#about {
    width: 100%;

}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 40vw;
    color: #fff;
    background-color: black;
    width: 100%;

}

.textabout {
    width: 25rem;
    /* background-color: red; */
}

.textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

.textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 15vw;

}

.textabout a {
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#subscribe {
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
}

#subscribe h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

}

#footer {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}


#footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.footerright {
    display: flex;
    gap: 30px;
}

.footerleft {

    display: flex;
    gap: 20px;
}