*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Serif Text
;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #222;

}

body{
    overflow: hidden;
}
.ABCD{
    position: absolute;
    width: 400px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    height: 300px;
    background-color: rgb(27, 64, 133);

}

.

/* .main{ */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #222;
} */

/* input{
    display: block;
}
/* reaserach how profile box get flexible size when we have deffrent size of text  */
/* .card{
    max-width: 300px;
    margin-top: 40px;
    border-radius: 18px;
    color: white;
    display: inline-block;
    padding: 20px;
    border: 1px solid #555;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-bottom: 10px;
    overflow: hidden;
}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card h5{
    margin-top: 5px;
}
.card p{
    font-size: 12px;
    margin-top: 10px;
} */ 
/* .btn{
    padding: 12px 22px;
    background-color: rgb(41, 143, 114);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(41, 117, 96);
}; 